version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"
    assignees:
      - Goldmensch
      - Kaktushose
  - package-ecosystem: "gradle"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
    assignees:
      - Kaktushose
      - Goldmensch
