use flake ../.

# .envrc

layout python3

if [ ! -d ".venv" ]; then
  echo "Creating virtualenv in .venv"
  python -m venv .venv
fi

source .venv/bin/activate

if [ -f "requirements.txt" ]; then
  pip install -r requirements.txt
fi