name: Create tail branch

on:
  push:
    branches:
      - main

jobs:

  new_major:
    runs-on: ubuntu-latest
    outputs:
      version_major: ${{ steps.extract.outputs.major }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/workflows/setup-gradle
      - name: extract project version from gradle
        id: extract
        shell: bash
        run: |
          ver=$( ./gradlew properties -q | awk '/^version:/ {print $2}' )
          major="${ver%%.*}"
          echo "major=$major" >> "$GITHUB_OUTPUT"

  compare:
    runs-on: ubuntu-latest
    needs: new_major
    outputs:
      new_major: ${{ steps.check.outputs.is }}
      previous_major: ${{ steps.parse.outputs.version_major }}
      previous_minor: ${{ steps.parse.outputs.version_minor }}
      start_commit: ${{ steps.previous_release.outputs.commit }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # info: needs one non-major bump release in git history
      - id: previous_release
        run: |
          txt=$(git log --pretty=format:"%H %s" --grep="^Release" --skip 1 -n 1)
          msg=$(cut -d ' ' -f 2- <<< "$txt")
          commit=$(cut -d ' ' -f 1 <<< "$txt")
          
          echo "msg=$msg" >> "$GITHUB_OUTPUT"
          echo "commit=$commit" >> "$GITHUB_OUTPUT"
      - id: parse
        uses: ./.github/workflows/check-if-release
        with:
          msg: "${{ steps.previous_release.outputs.msg }}"
          skip-gradle-check: true
      - id: check
        run: |
          new="${{ needs.new_major.outputs.version_major }}"
          old="${{ steps.parse.outputs.version_major }}"
          
          if [[ $new != $old ]]; then
            echo "is=yes" >> "$GITHUB_OUTPUT"
          else
            echo "is=false" >> "$GITHUB_OUTPUT"  
          fi

  create_tail:
    runs-on: ubuntu-latest
    needs: [ compare ]
    if: ${{ needs.compare.outputs.new_major == 'yes' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PUSH_TOKEN }}
      - run: |
          major=${{ needs.compare.outputs.previous_major }}
          minor=${{ needs.compare.outputs.previous_minor }}
          commit=${{ needs.compare.outputs.start_commit }}
          branch="$major.$minor.x"
          
          if ! git ls-remote --exit-code --heads origin "$branch" >/dev/null; then        
            git switch -c $branch $commit
            git push -u origin $branch
          fi
